// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$text-color-primary:#555555;
$palatte-color-primary:#6d56c1;

html{
    font-size: 10px;
}

html,body{
    background: white;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.alert-warning {
    font-size: 2rem !important;
}

nav{
    height: 80px;
    position: relative;
    background: none;
    padding-top: 35px;
    font-size: 1.2rem;
    color: white;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline;
    margin-right: 35px;
    font-weight: bold;
    letter-spacing: 3px;
}
nav ul li a{
    text-decoration: none;
    color: inherit;
}
nav ul li a:hover{
    text-decoration: none;
    color: inherit;
    opacity: 0.4;
}

header{
    background: url("../images/profile.jpg");
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

header::before{
    background: linear-gradient(54deg, rgba(74, 76, 179, 0.95) 34%, rgba(206, 156, 156, 0.95));
    height: 100%;
    left: 0px;
    right: 0px;
    position: absolute;
    content: "";
    z-index: 0;
}

// Bio
.bio-out-cont{
    position: relative;
}
#bio-cont{
    display: flex;
    margin-top: 25px;
}

.bio-image{
    flex: 1;
}
.bio-image img{
    width: 100%;
    align-items: flex-start;
    border-radius: 5px;
    height: 390px;
    padding:0 55px 0 55px;
}
.bio-details{
    flex: 2.5;
    color: white;
    font-size: 2rem;
    padding-left: 45px;
}
.bio-details h2{
    font-size: 6rem;
}
.bio-details-det{
    font-size: 1.8rem;
    margin-top: 19px;
}

.bio-details-det ul {
    list-style: none;
    padding: 0;
}

.bio-det-titles{
    margin-right: 25px;
    float: left;
    display: inline;
}
.bio-det-titles li{
    opacity: 0.4;
    font-weight: bold;
}

.bio-det-vals{
    display: inline;
}

ul.bio-social li {
    display: inline;
    margin-right: 10px;
}
.bio-social{
    margin-top: 18px;
}
.bio-social a{
    color: white;
    text-decoration: none;
}
.bio-social a:hover{
    color: white;
    text-decoration: none;
}
ul.bio-social li {
    opacity: 0.4;
}
ul.bio-social li:hover {
    opacity: 1;
}

// Heloo
.container p{
    text-align: justify;
}

.cont-in{
    margin-top: 100px;
    font-size: 2rem;
    color: $text-color-primary;
    margin-bottom: 50px;
}

.cont-header{
    font-size: 3.25rem;
    letter-spacing: 2px;
    font-weight: bold;
}
.cont-text{
    margin-top: 25px;
}
.hello-cont .input-group{
    border-radius: 25px;
    padding: 11px;
    background: $palatte-color-primary;
    width: fit-content;
    margin-top: 35px;
}
.hello-cont .input-group button{
    background: none;
    color: white;
    border: 0;
}
.hello-cont .input-group .input-group-text{
    background: none;
    border: 0;
    color: white;
}

// Resume
.resume-cont h2{
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
}
.resume-education{
    margin-top: 25px;
}
.resume-education h2{
    text-align: start;
    font-size: 1.5rem;
    letter-spacing: 3px;
    font-weight: bold;
    opacity: 0.7;
}
.resume-education ul{
    list-style: none;
    padding:0;
    margin-top: 15px;
}
.resume-education ul li{
    border-left: outset;
    padding-inline-start: 40px;
}
.resume-education ul li:hover{
    border-left: 2px solid $palatte-color-primary !important;
    padding-inline-start: 40px;
}


.ed-title{
    color: #6d56c1;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: Roboto Mono,monospace;
    letter-spacing: 2px;
    margin-bottom: 0;
}

.ed-year{
    font-family: Inconsolata,monospace;
    font-size: 1.2rem;
    color: #999;
    padding-bottom: 10px;
    margin-bottom: 0;
}
.ed-desc{
    font-size: 1.4rem;
    font-weight: bold;
}

.res-edu{
    float: left;
}

.tech-stack{
    float: right;
}

// Projects

.projects-header ul{
    padding: 0;
    list-style: none;
    margin-top: 30px;
}
.projects-header ul li{
    display: inline;
    margin-right: 25px;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: bold;
}
.projects-header ul li:hover{
    border-bottom: 2px solid $palatte-color-primary;
}
.selected{
    color: $palatte-color-primary;
    border-bottom: 2px solid $palatte-color-primary;
}

.projects-cont{
    padding-top: 25px;
}
.project-iter{
    border: 1px solid rgb(240, 240, 240);
    display: flex;
    margin-bottom: 10px;
}
.project-iter:hover{
    -webkit-box-shadow: 1px -1px 10px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 1px -1px 10px -1px rgba(0,0,0,0.75);
box-shadow: 1px -1px 10px -1px rgba(0,0,0,0.75);
}
.project-image{
    flex: 1;
    position: relative;
}
.project-image img{
    width: 100%;
    height: 100%;
    max-height: 250px;

}
.project-image img::before{
  
}

.project-det{
    flex: 2;
    padding: 15px;
    margin: auto;
}
.project-title{
    font-weight: bold;
}
.project-description{
    font-size: 1.6rem;
}

.project-tech{
    padding: 0;
    list-style: none;
    margin-left: 5px;
}
.project-stack{
    font-size: 1.6rem;
    width: fit-content;
    font-weight: bold;
}
.project-tech li{
    display: inline;
    margin-right: 10px;
    border: 1px solid;
    padding: 5px;
    font-size: 1.5rem;
}

.project-repo{
    margin-top: 25px;
}

.project-repo a{
    background: $palatte-color-primary;
    padding: 5px;
    border-radius: 5px;
    color: white;
}
.project-repo a{
    background: $palatte-color-primary;
    padding: 5px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    opacity: 0.4;
}
.project-repo a:hover{
    opacity: 1;
}

.project-image button{
    background: $palatte-color-primary;
    padding: 5px;
    border-radius: 5px;
    color: white;
    position: absolute;
    width: 80px;
    height: 40px;
    border:0;
    right: calc(50% - 40px);
    top: calc(50% - 20px);
}

.project-image-overlay{
    width: 100%;
    height: 100%;
    background: #555555;
    position: absolute;
    top: 0;
    opacity: 0.8;
}

.project-image-model-dialog{
    width: 80%;
    max-width: 100% !important;
}
.project-image-model-image{
    width: 100%;
}



#contact-main{
    background:linear-gradient(54deg, rgba(74, 76, 179, 0.95) 34%, rgba(206, 156, 156, 0.95));
    ;
    padding: 50px;
}

#contact h1{
    padding-top: 25px;
}
#contact{
    color: white;
}
#contact-cont .alert{
    position: absolute;
    height: fit-content;
    right: 0;
    font-size: 1.3rem;
}
#contact-cont{
    position: relative;
    display: flex;
}

#cotact-direct{
    width: 40%;
    padding-top: 40px;
}

#cotact-message input::placeholder,
#cotact-message textarea::placeholder{
    color: white;
}
#cotact-message input,
#cotact-message textarea{
    width: 80%;
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

#cotact-message{
    width: 60%;
    font-size: 1.8rem;
    letter-spacing: 3px;
    padding-top: 40px;
}

#cotact-direct .bio-details-det{
    margin-top:0 !important;
}

#contact-button{
    background: $palatte-color-primary;
    padding: 5px;
    border-radius: 5px;
    color: white;
    display: block;
    margin-left: calc(50% - 40%);
    width: 50%;
    border: 0;
    -webkit-box-shadow: 1px -1px 10px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px -1px 10px -1px rgba(0,0,0,0.75);
    box-shadow: 1px -1px 10px -1px rgba(0,0,0,0.75);
}